In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
xy = []
y, x = np.indices((5, 4))
y = y.flatten()
x = x.flatten()
original = np.row_stack((x, y))
xy.append(original)
print(xy)
len(xy)

[array([[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3],
       [0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4]])]

1

In [5]:
def rot_mat(deg):
    theta = deg/180*np.pi
    c = np.cos(theta)
    s = np.sin(theta)
    return np.array([[c, -s], [s, c]])

r = rot_mat(30)

In [6]:
rxy = []
transformed = r@xy
rxy.append(transformed)
print(rxy)
len(rxy)

[array([[[ 0.        ,  0.8660254 ,  1.73205081,  2.59807621,
         -0.5       ,  0.3660254 ,  1.23205081,  2.09807621,
         -1.        , -0.1339746 ,  0.73205081,  1.59807621,
         -1.5       , -0.6339746 ,  0.23205081,  1.09807621,
         -2.        , -1.1339746 , -0.26794919,  0.59807621],
        [ 0.        ,  0.5       ,  1.        ,  1.5       ,
          0.8660254 ,  1.3660254 ,  1.8660254 ,  2.3660254 ,
          1.73205081,  2.23205081,  2.73205081,  3.23205081,
          2.59807621,  3.09807621,  3.59807621,  4.09807621,
          3.46410162,  3.96410162,  4.46410162,  4.96410162]]])]

1

In [25]:
data = pd.DataFrame({
               'Original Vector': xy,
               'Transformed Vector': rxy
              })
data

,Original Vector,Transformed Vector
0,"[[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2,...","[[[0.0, 0.5000000000000001, 1.0000000000000002..."

In [ ]:
fig = px.scatter(data, x = 'X axis', y='Y axis',)

In [29]:
plt.figure(figsize=(10, 8))
plt.scatter(xy[0], xy[1], label = "Original Vector")
plt.scatter(rxy[0], rxy[1], label = "Transformed Vector")
plt.xlabel('X axis')
plt.ylabel('Y axis')
plt.title('Rotation Matrix')
plt.legend(loc ='upper left')
plt.grid(True, linewidth = 1)
plt.show()

IndexError: list index out of range

In [8]:
df = pd.read_csv("https://raw.githubusercontent.com/chriswmann/datasets/master/500_Person_Gender_Height_Weight_Index.csv")
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [7]:
from sklearn.datasets import load_digits
digits = load_digits()

In [18]:
import plotly.express as px
import streamlit as st

In [19]:
df2 = df.groupby('Index').mean()
ex = df.loc[(df['Index'] == 0)]
ex1 = df.loc[(df['Index'] == 1)]
ex2 = df.loc[(df['Index'] == 2)]
ex3 = df.loc[(df['Index'] == 3)]
ex4 = df.loc[(df['Index'] == 4)]
ex5 = df.loc[(df['Index'] == 5)]
mean = [ ex.mean(),ex1.mean(),ex2.mean(),ex3.mean(),ex4.mean(),ex5.mean() ]
plt.figure(figsize=(8, 6))

fig = px.scatter(df2, x='Weight', y='Height', template='seaborn', 
                   title='Mean Values', 
                   labels={'Extremely Weak','Weak',
                   'Normal','Overweight','Obesity', 
                   'Extreme Obesity'})
st.plotly_chart(fig, use_column_width = True)

2022-03-25 15:25:29.030
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\ritth\software\anaconda\envs\strive\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)